@CHARSET "ISO-8859-1";
.btn-primary{
	
	color:black;
}
.jumbotron{
	
	background-image:url('/ORS_Proj3/img/u.jpg');
	color:white;
	height:520px;
	width:1333px;
	
	margin-top:0px;
	margin-bottom:0px;
	
	
}

.navbar-default{
	
	background-color:#4373a7;
	border-color:#428bca;
	border-radius:0;
}
.my-footer{
	
	background-color:gray;
	border-color:#c0c0c0;
	border-radius:0;
}
.navbar-header{
	
	background-color:#c0c0c0;
	border-color:#c0c0c0;
	border-radius:0;
}
.navbar-default.navbar-brand,
.navbar-default.navbar-brand:hover,
.navbar-default.navbar-brand:focus{
	color:#fff;
}
.navbar-default.navbar-nav>li>a{
	color:#fff;
	
}
.navbar-default.navbar-nav>li>a:hove,
.navbar-default.navbar-nav>li>a:focus{
	background-color:#428bca;
}
.navbar-default.navbar-nav>.active>a,
.navbar-default.navbar-nav>.active>a:hover,
.navbar-default.navbar-nav>.active>a:focus{
	color:#fff;
	background-color:#428bca;
}
navbar-default.navbar-text{
	
	color:#fff;
}
navbar-default.navbar-toggle{
	border-color:#428bca;
	
}
navbar-default.navbar-toggle:hover,
navbar-default.navbar-toggle:focus{
	background-color:#428bca;
	
}
navbar-default.navbar-toggle.icon-bar{
	background-color:#fff;
}
.img-circle {
    border-radius: 50%;
   
}